snippet met "public method"
	public function ${1}(${2}): $3
	{
		${0}
	}

snippet pmet "protected method"
	protected function ${1}(${2}): $3
	{
		${0}
	}

snippet pvmet "private method"
	protected function ${1}(${2}): $3
	{
		${0}
	}

snippet test "test method (prefix)"
	public function test${1}()
	{
		${0}
	}

snippet testa "test method (annotation)"
	/** @test */
	public function ${1}()
	{
		${0}
	}
