snippet met "public method"
    public function ${1}(${2}): void
    {
        ${0}
    }

snippet pmet "protected method"
    protected function ${1}(${2}): void
    {
        ${0}
    }

snippet pvmet "private method"
    private function ${1}(${2}): void
    {
        ${0}
    }

snippet test "test function"
    public function test${1}(${2}): void
    {
        ${0}
    }

